/**Google Font**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/** hero section styling **/
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 40px;
}
#hero::before {
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/hero.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(60%);
}
#heroContent {
    position: relative;
}

#heroContent h1 {
    color: white;
    font-size: 2.8em;
    text-shadow: 2px 2px 2px #000;
}
#heroContent h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px #000;
}
#heroContent a {
    color: white;
    font-size: 1.8rem;
    padding: 3px 20px 3px 20px;
    border: 1px solid orange;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
}
#heroContent a:hover {
    background-color: navy;
}

/** header section styling **/
#header {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.5);
}
#navbar h1 {
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px black;

}

#navbar ul {
    display: flex;
    justify-content: space-around;
}

#navbar ul li {
    list-style: none;
    padding: 3px 15px;
}

#navbar ul li:hover,
#phone a:hover,#mobileMenu ul li:hover
#mobile-menu ul li:hover {
    background: navy;
    cursor: pointer;
}
#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
#phone a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 3px 15px;
    border: 1px solid orange;
}
#mobileMenu {
    display: none;
    line-height: 40px;
    height: 40px;
    background-color: magenta;
}

#mobileMenu ul {
    display:flex;
justify-content:center;
} 
#mobileMenu ul li {
    list-style: none;
    padding: 0px 5px;
    text-decoration: none;
    
}
#mobileMenu ul li a {
    text-decoration: none;
    
}

/** media queries for mobile friendly design **/

@media screen and (max-width:768px) {
    #header{position: absolute;}

    #mobileMenu {
        display:flex;
        justify-content: space-around;
    }
    #navbar ul {
        display: none;
    }

    html {
        font-size: 95%;
    }

    #menuRow,#aboutRow{
        flex-wrap: wrap;
        padding:0px 10px;
    }

}

/** for screen smaller than 360px **/
@media screen and (max-width:360px){
    html{font-size:70%;}
#aboutImage{
    width:200px;
    height:200px;
}
}
/**media queries end here **/

/** menu section styling **/
#menu{
    padding: 25px 0px;
    color:#000;
    align-items: center;
}
.sectionHeading{padding: 25px 0px;
    text-align:center;
    font-size: 2rem;
    font-family:verdana;   
}
#menuRow{
    display:flex;
    padding:0px 100px;
}
.menuColumn {
    box-shadow: 2px 2px 2px #bbb;
    border:1px solid #bbb;
    margin:5px;
    color:#000;
}
.menuColumn h2 {
    background-color: orange;
    text-align:center;
    color: white
}
.image{
    width: 150px;
    height: 150px;
    border-radius:50%;
    padding: 5px;
    border: 1px solid orange;
}
.image img{ width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}
.box{
    display:flex;
    align-items:center;
    text-align:center;
    margin:5px;
}
/** Menu section styling ends here **/

/** About us section styling begins **/
#about{
    padding:25px 0px;
}

#aboutRow{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    padding:0px 100px;
}
.aboutColumn{
    flex:1 100;
}
#aboutImage{
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 1px solid orange;
}
#aboutImage img{
    width:100%;
    height:100%;
    border-radius: 60%;
    border: 1px solid orange;
    object-fit: fill;
}
.aboutColumn h1{
    font-family:cursive;
    text-align:center;
}
.aboutColumn h1 p{
    font-family:cursive;
    text-align:center;
    font-weight:bold;
}
/** About us section styling ends here **/

/** Contact us section styling begins **/

#contactUs{
    padding: 25px;
    margin-top: 20px;
}
#contactRow {
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0px 100px;
    flex-wrap: wrap;
    flex-direction: column;}

 #contactCol{
     display:flex;
     flex:1;
     align-items: center;
 }
 #contactCol h2{padding:25px 0px;
 }
    .submitButton{
        margin:auto;
        padding:10px;
        color:white;
        background-color: orange;
    }
    /** Contact us section styling ends here **/
    /** Footer section begins **/
    #footer{
        position:relative;
        height: fit-content;
        padding:20px;
        background-color: #292929;
    }
    #footer h5{
        text-align:center;
        color:orange;
    }
    #top{
        position:absolute;
        bottom:12px;
        top:12px;
    }
    #top a{
        color:white;
        font-size:1rem;
    }
    /** footer section styling ends **/